.projects-scroll-container {
    height: 600vh; 
    position: relative;
    background-color: var(--bg-color);
    width: 100%;
}


.sticky-viewport {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


.projects-header-overlay {
    position: absolute;
    top: 10%;
    text-align: center;
    width: 100%;
    z-index: 10;
}

.projects-header-overlay h2 {
    font-size: 5rem;
    color: var(--text-color);
    
}

.projects-header-overlay span {
    color: var(--accent-color);
}


.project-slide {
    position: absolute;
    width: 85%;
    max-width: 900px;
    opacity: 0;
    transform: translateY(100px) scale(0.95);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    pointer-events: none;
    margin-top: 50px;
}


.project-slide.active {
    opacity: 1;
    transform: translateY(0) scale(1);
    pointer-events: auto;
    z-index: 5;
}


.project-card {
    background: var(--card-bg); /* Semi-transparent dark background */
    backdrop-filter: blur(10px); /* Gives a glassmorphism effect */
    border: 1px solid var(--accent-color);
    border-radius: 20px;
    padding: 4rem;
    box-shadow: 0 0 30px rgba(56, 189, 248, 0.15); /* Soft blue glow */
}

.project-title {
    color: var(--accent-color);
    font-size: 3.2rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.project-meta,
.project-meta p {
    font-size: 1.5rem;
    color: #a0a0a0;
    margin-bottom: 2.5rem;
    font-weight: 500;
    letter-spacing: 1px;
    font-weight: bold;
}

.project-bullets {
    font-size: 1.6rem;
    line-height: 1.8;
    color: var(--text-color);
}

.project-bullets li {
    margin-bottom: 1.5rem;
    margin-left: 2rem;
}

.project-bullets-parks li::marker{
    content: " 🏞️" !important;
}

.project-bullets-hike li::marker{
    content: " 🚶‍♂️‍➡️" !important;
}

.project-bullets-house li::marker{
    content: " 🏠" !important;
}

.project-bullets-maps li::marker{
    content: " 🗺️" !important;
}

.project-bullets-plane li::marker{
    content: " 🛬" !important;
}

.project-bullets-fiber li::marker{
    content: " 🔗" !important;
}

@media (max-width: 995px) {
    .project-card {
        padding: 2.5rem;
    }
    .project-title {
        font-size: 2.5rem;
    }
    .projects-header-overlay h2 {
        font-size: 3.5rem;
    }
}